<img class="bd-placeholder-img card-img-top" width="100%" height="225" role="img"
    aria-label="Marcador de posición: Miniatura" focusable="false" preserveAspectRatio="xMidYMid slice"
    [src]="pelicula.src_foto">

<div class="card-body">
    <h3 class="text-center">{{pelicula.Nombre}}</h3>
    <p class="card-text">genero: {{pelicula.tipo}}</p>
    <p class="card-text">capacitdad maxima: {{pelicula.cant_publico}} personas </p>
    <div class="d-flex justify-content-center ">

        <small class="text-body-secondary ">fecha estreno: {{pelicula.fecha_estreno}}</small>
    </div>
</div>